%h1 Footage for #{@track.uid}

%form.form-horizontal{:action => "/footage/#{@track.uid}", :method => 'post'}
  - @arr.each do |x|
    .form-group
      %label.col-sm-3.control-label= "#{x}:"
      .col-sm-9
        %input.form-control{:type => 'text', :name => "#{x}"}
  - @dates.each do |x|
    .form-group
      %label.col-sm-3.control-label= "#{x}:"
      .col-sm-9
        %input.form-control{:type => 'date', :name => "#{x}"}
  %button.btn.btn-default.btn-block{:type => 'submit'} Submit
