%table
  - @tracker.each do |t|
    %tr
      %td= t.UID
      %td= t.ccname.capitalize
      %td= t.state.capitalize
      %td= t.program.capitalize
      %td= t.iutheme.capitalize
      %td= t.description
      %td= t.storydate
      %td= t.ccpair
      %td= t.mentor
      %td= t.storytype
      %td= t.shootplan
      %td= t.relateduid
      %td= t.impactpossible
      %td= t.targetofficial
      %td= t.desiredchange
      %td= t.impactplan
      %td= t.impactfollowup
      %td= t.impactfollowupnotes
      %td= t.impactprocess
      %td= t.impactstatus
      %td= t.impactdate
      %td= t.screeningdone
      %td= t.screeningheadcount
      %td= t.screeningnotes
      %td= t.officialinvolved
      %td= t.officialsatscreening
      %td= t.officialscreeningnotes
      %td= t.collaborations
      %td= t.peopleinvolved
      %td= t.peopleimpacted
      %td= t.villagesimpacted
      %td= t.videofoldertitle
      %td= t.footageinstate
      %td= t.assignededitor
      %td= t.footagefromstate
      %td= t.editedvideofromstate
      %td= t.editstatus
      %td= t.footagereview
      %td= t.roughcutreview
      %td= t.footagerating
      %td= t.paymentapproved
      %td= t.roughcutdate
      %td= t.editdate
      %td= t.finalvideorating
      %td= t.bonus
      %td= t.youtubedate
      %td= t.youtubeurl
      %td= t.iupublishdate
      %td= t.videotitle
      %td= t.subtitleneeded
      %td= t.secondaryiuissue
      %td= t.subcategory
      %td= t.project
      %td= t.blognotes
      %td= t.flag
      %td= t.flagnotes
%br/
