%h1= @title
.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
        -# %th
        -# %th
        %th uid
        %th ccname
        %th state
        -# %th program
        -# %th iutheme
        %th description
        %th storydate
        -# %th mentor
        -# %th storytype
        -# %th shootplan
        -# %th relateduid
        -# %th impactpossible
        -# %th targetofficial
        -# %th desiredchange
        -# %th impactplan
        -# %th impactfollowup
        -# %th impactfollowupnotes
        -# %th impactprocess
        -# %th impactstatus
        -# %th impactdate
        -# %th screeningdone
        -# %th screeningheadcount
        -# %th screeningnotes
        -# %th officialinvolved
        -# %th officialsatscreening
        -# %th officialscreeningnotes
        -# %th collaborations
        -# %th peopleinvolved
        -# %th peopleimpacted
        -# %th villagesimpacted
        -# %th videofoldertitle
        -# %th footageinstate
        -# %th assignededitor
        -# %th footagefromstate
        -# %th editedvideofromstate
        -# %th editstatus
        -# %th footagereview
        -# %th roughcutreview
        -# %th footagerating
        -# %th paymentapproved
        -# %th roughcutdate
        -# %th editdate
        -# %th finalvideorating
        -# %th bonus
        -# %th youtubedate
        -# %th youtubeurl
        -# %th iupublishdate
        -# %th videotitle
        -# %th subtitleneeded
        -# %th secondaryiuissue
        -# %th subcategory
        -# %th project
        -# %th blognotes
        %th flag
        %th flagnotes
        %th updatedate
        -# %th note

    %tbody
      - @track.each do |t|
        %tr
          %td
            %a.btn.btn-default.btn-sm{:href => "/show/#{t.uid}", :role => 'button'} View
          -# %td
          -#   - if t.flag.nil?
          -#     %a.btn.btn-default.btn-sm{:href => "/flag/#{t.uid}", :role => 'button'} Flag
          -#   - else
          -#     %a.btn.btn-default.btn-sm{:href => "/unflag/#{t.uid}", :role => 'button'} Unflag
          -# %td
          -#   %a.btn.btn-default.btn-sm{:href => "/delete/#{t.uid}", :role => 'button'} Delete
          %td=h t.uid
          %td=h t.ccname.capitalize
          %td=h t.state.capitalize
          -# %td=h t.program.capitalize
          -# %td=h t.iutheme.capitalize
          %td=h t.description
          %td=h t.storydate
          -# %td=h t.mentor
          -# %td=h t.storytype
          -# %td=h t.shootplan
          -# %td=h t.relateduid
          -# %td=h t.impactpossible
          -# %td=h t.targetofficial
          -# %td=h t.desiredchange
          -# %td=h t.impactplan
          -# %td=h t.impactfollowup
          -# %td=h t.impactfollowupnotes
          -# %td=h t.impactprocess
          -# %td=h t.impactstatus
          -# %td=h t.impactdate
          -# %td=h t.screeningdone
          -# %td=h t.screeningheadcount
          -# %td=h t.screeningnotes
          -# %td=h t.officialinvolved
          -# %td=h t.officialsatscreening
          -# %td=h t.officialscreeningnotes
          -# %td=h t.collaborations
          -# %td=h t.peopleinvolved
          -# %td=h t.peopleimpacted
          -# %td=h t.villagesimpacted
          -# %td=h t.videofoldertitle
          -# %td=h t.footageinstate
          -# %td=h t.assignededitor
          -# %td=h t.footagefromstate
          -# %td=h t.editedvideofromstate
          -# %td=h t.editstatus
          -# %td=h t.footagereview
          -# %td=h t.roughcutreview
          -# %td=h t.footagerating
          -# %td=h t.paymentapproved
          -# %td=h t.roughcutdate
          -# %td=h t.editdate
          -# %td=h t.finalvideorating
          -# %td=h t.bonus
          -# %td=h t.youtubedate
          -# %td=h t.youtubeurl
          -# %td=h t.iupublishdate
          -# %td=h t.videotitle
          -# %td=h t.subtitleneeded
          -# %td=h t.secondaryiuissue
          -# %td=h t.subcategory
          -# %td=h t.project
          -# %td=h t.blognotes
          %td=h t.flag
          %td=h t.flagnotes
          %td=h t.updatedate
          -# %td=h t.note
