.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    - @track.each do |t|
      %h1= t.UID
      %tr
        %th CC Name
        %td= t.ccname.capitalize
      %tr
        %th State
        %td= t.state.capitalize
      %tr
        %th Program
        %td= t.program.capitalize
      %tr
        %th IU Theme
        %td= t.iutheme.capitalize
      %tr
        %th Description
        %td= t.description
      %tr
        %th Story Date
        %td= t.storydate
      %tr
        %th Mentor
        %td= t.mentor
      %tr
        %th Story Type
        %td= t.storytype
      %tr
        %th Shoot Plan
        %td= t.shootplan
      %tr
        %th Related UID
        %td= t.relateduid
      %tr
        %th Impact Possible
        %td= t.impactpossible
      %tr
        %th Target Official
        %td= t.targetofficial
      %tr
        %th Desired Change
        %td= t.desiredchange
      %tr
        %th Impact Plan
        %td= t.impactplan
      %tr
        %th Impact Followup
        %td= t.impactfollowup
      %tr
        %th Impact Followup Notes
        %td= t.impactfollowupnotes
      %tr
        %th Impact Process
        %td= t.impactprocess
      %tr
        %th Impact Status
        %td= t.impactstatus
      %tr
        %th Impact Date
        %td= t.impactdate
      %tr
        %th Screening Done
        %td= t.screeningdone
      %tr
        %th Screening Head Count
        %td= t.screeningheadcount
      %tr
        %th Screening Notes
        %td= t.screeningnotes
      %tr
        %th Official Involved
        %td= t.officialinvolved
      %tr
        %th Officials At Screening
        %td= t.officialsatscreening
      %tr
        %th Official Screening Notes
        %td= t.officialscreeningnotes
      %tr
        %th Collaborations
        %td= t.collaborations
      %tr
        %th People Involved
        %td= t.peopleinvolved
      %tr
        %th People Impacted
        %td= t.peopleimpacted
      %tr
        %th Villages Impacted
        %td= t.villagesimpacted
      %tr
        %th Video Folder Title
        %td= t.videofoldertitle
      %tr
        %th Footage In State
        %td= t.footageinstate
      %tr
        %th Assigned Editor
        %td= t.assignededitor
      %tr
        %th Footage From State
        %td= t.footagefromstate
      %tr
        %th Edited Video From State
        %td= t.editedvideofromstate
      %tr
        %th Edit Status
        %td= t.editstatus
      %tr
        %th Footage Review
        %td= t.footagereview
      %tr
        %th Rough Cut Review
        %td= t.roughcutreview
      %tr
        %th Footage Rating
        %td= t.footagerating
      %tr
        %th Payment Approved
        %td= t.paymentapproved
      %tr
        %th Rough Cut Date
        %td= t.roughcutdate
      %tr
        %th Edit Date
        %td= t.editdate
      %tr
        %th Final Video Rating
        %td= t.finalvideorating
      %tr
        %th Bonus
        %td= t.bonus
      %tr
        %th Youtube Date
        %td= t.youtubedate
      %tr
        %th Youtube URL
        %td= t.youtubeurl
      %tr
        %th IU Publish Date
        %td= t.iupublishdate
      %tr
        %th Video Title
        %td= t.videotitle
      %tr
        %th Subtitle Needed
        %td= t.subtitleneeded
      %tr
        %th Secondary IU Issue
        %td= t.secondaryiuissue
      %tr
        %th Subcategory
        %td= t.subcategory
      %tr
        %th Project
        %td= t.project
      %tr
        %th Blog Notes
        %td= t.blognotes
      %tr
        %th Flag
        %td= t.flag
      %tr
        %th Flag Notes
        %td= t.flagnotes
      %tr
        %th Update Date
        %td= t.updatedate
      %tr
        %th Correspondence Notes
        %td= t.note
