- main = main_set
- main[:story].push('state', 'cc_name', 'district', 'mentor')
- main[:footage].push('edit_status', 'payment_status', 'subtitle_info', 'editor_changes_needed')
- main[:impact].push('impact_status', 'impact_production_status')
- main[:extra].push('note')
- dates = date_set
- extra = extra_set

%h1 #{ @track.uid.split('_').join(' ') } by #{ @track.cc_name } - #{ @track.iu_theme }

/ Each line renders a table with a title, and then populates the cells with
/ the tracker information for the selected tracker.
= haml :show_table, locals: { title: 'Story', track: @track,
                            column1: main[:story], column2: dates[:story_dates] }
= haml :show_table, locals: {title: 'Status', track: @track,
                            column1: dates[:status_dates], column2: [] }
= haml :show_table, locals: { title: 'Footage', track: @track,
                            column1: main[:footage], column2: dates[:footage_dates] }
= haml :show_table, locals: { title: 'Impact', track: @track,
                            column1: main[:impact], column2: dates[:impact_dates] }
= haml :show_table, locals: { title: 'Screening', track: @track,
                            column1: main[:screening], column2: [] }
= haml :show_table, locals: { title: 'Rating', track: @track,
                            column1: extra[:ratings], column2: [] }
= haml :show_table, locals: { title: 'Extra', track: @track,
                            column1: main[:extra], column2: dates[:extra_dates] }

%a.btn.btn-default{ href: "/edit/#{ @track.uid }", role: 'button' } Edit
- if @track.flag.nil?
  %a.btn.btn-default{ href: "/flag/#{ @track.uid }", role: 'button' } Flag
- else
  %a.btn.btn-default{ href: "/unflag/#{ @track.uid }", role: 'button' } Unflag
%a.btn.btn-default{ href: "/delete/#{ @track.uid }", role: 'button' } Delete
