.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    %h1= @track.uid
    %tr
      %th CC Name
      %td=h @track.ccname.capitalize
    %tr
      %th State
      %td=h @track.state.capitalize
    %tr
      %th Program
      %td=h @track.program.capitalize
    %tr
      %th IU Theme
      %td=h @track.iutheme.capitalize
    %tr
      %th Description
      %td=h @track.description
    %tr
      %th Story Date
      %td=h @track.storydate
    %tr
      %th Mentor
      %td=h @track.mentor
    %tr
      %th Story Type
      %td=h @track.storytype
    %tr
      %th Shoot Plan
      %td=h @track.shootplan
    %tr
      %th Related uid
      %td=h @track.relateduid
    %tr
      %th Impact Possible
      %td=h @track.impactpossible
    %tr
      %th Target Official
      %td=h @track.targetofficial
    %tr
      %th Desired Change
      %td=h @track.desiredchange
    %tr
      %th Impact Plan
      %td=h @track.impactplan
    %tr
      %th Impact Followup
      %td=h @track.impactfollowup
    %tr
      %th Impact Followup Notes
      %td=h @track.impactfollowupnotes
    %tr
      %th Impact Process
      %td=h @track.impactprocess
    %tr
      %th Impact Status
      %td=h @track.impactstatus
    %tr
      %th Impact Date
      %td=h @track.impactdate
    %tr
      %th Screening Done
      %td=h @track.screeningdone
    %tr
      %th Screening Head Count
      %td=h @track.screeningheadcount
    %tr
      %th Screening Notes
      %td=h @track.screeningnotes
    %tr
      %th Official Involved
      %td=h @track.officialinvolved
    %tr
      %th Officials At Screening
      %td=h @track.officialsatscreening
    %tr
      %th Official Screening Notes
      %td=h @track.officialscreeningnotes
    %tr
      %th Collaborations
      %td=h @track.collaborations
    %tr
      %th People Involved
      %td=h @track.peopleinvolved
    %tr
      %th People Impacted
      %td=h @track.peopleimpacted
    %tr
      %th Villages Impacted
      %td=h @track.villagesimpacted
    %tr
      %th Video Folder Title
      %td=h @track.videofoldertitle
    %tr
      %th Footage In State
      %td=h @track.footageinstate
    %tr
      %th Assigned Editor
      %td=h @track.assignededitor
    %tr
      %th Footage From State
      %td=h @track.footagefromstate
    %tr
      %th Edited Video From State
      %td=h @track.editedvideofromstate
    %tr
      %th Edit Status
      %td=h @track.editstatus
    %tr
      %th Footage Review
      %td=h @track.footagereview
    %tr
      %th Rough Cut Review
      %td=h @track.roughcutreview
    %tr
      %th Footage Rating
      %td=h @track.footagerating
    %tr
      %th Payment Approved
      %td=h @track.paymentapproved
    %tr
      %th Rough Cut Date
      %td=h @track.roughcutdate
    %tr
      %th Edit Date
      %td=h @track.editdate
    %tr
      %th Final Video Rating
      %td=h @track.finalvideorating
    %tr
      %th Bonus
      %td=h @track.bonus
    %tr
      %th Youtube Date
      %td=h @track.youtubedate
    %tr
      %th Youtube URL
      %td=h @track.youtubeurl
    %tr
      %th IU Publish Date
      %td=h @track.iupublishdate
    %tr
      %th Video Title
      %td=h @track.videotitle
    %tr
      %th Subtitle Needed
      %td=h @track.subtitleneeded
    %tr
      %th Secondary IU Issue
      %td=h @track.secondaryiuissue
    %tr
      %th Subcategory
      %td=h @track.subcategory
    %tr
      %th Project
      %td=h @track.project
    %tr
      %th Blog Notes
      %td=h @track.blognotes
    %tr
      %th Flag
      %td=h @track.flag
    %tr
      %th Flag Notes
      %td=h @track.flagnotes
    %tr
      %th Update Date
      %td=h @track.updatedate
    %tr
      %th Correspondence Notes
      %td=h @track.note

%a.btn.btn-default{:href => "/edit/#{@track.uid}", :role => 'button'} Edit
- if @track.flag.nil?
  %a.btn.btn-default{:href => "/flag/#{@track.uid}", :role => 'button'} Flag
- else
  %a.btn.btn-default{:href => "/unflag/#{@track.uid}", :role => 'button'} Unflag
%a.btn.btn-default{:href => "/delete/#{@track.uid}", :role => 'button'} Delete
