- all = array_set
- all[:story].unshift('district', 'mentor')

%h1 #{ @track.uid.split('_').join(' ') } by #{ @track.cc_name } - #{ @track.iu_theme }
- unless @track.impact_uid.blank? || @track.uid.include?('_impact')
  %h2.sub-header This video had an impact! See #{ @track.impact_uid }
%h3.description-display #{ @track.description }

%form.form-horizontal{ action: "/edit/#{ @track.uid }", method: 'post' }

  = haml :'trackers/edit_form', locals: { title: 'Story', columns: all[:story],
                                          special: all[:special], number: [],
                                          yesno: [], track: @track }
  = haml :'trackers/edit_form', locals: { title: 'Status', columns: all[:status],
                                          special: [], number: [], yesno: [],
                                          track: @track }
  = haml :'trackers/edit_form', locals: { title: 'Raw Footage Review',
                                          columns: all[:review],
                                          special: all[:special], number: [],
                                          yesno: all[:yesno], track: @track }
  = haml :'trackers/edit_form', locals: { title: 'Edit',
                                          columns: all[:footage_edit],
                                          special: all[:special], number: [],
                                          yesno: all[:yesno], track: @track }
  = haml :'trackers/edit_form', locals: { title: 'Final Review',
                                          columns: all[:footage_review],
                                          special: all[:special], number: [],
                                          yesno: all[:yesno], track: @track }
  - unless !@track.original_uid.blank? && @track.uid.include?('_impact')
    = haml :'trackers/edit_form', locals: { title: 'Impact Planning',
                                            columns: all[:impact_planning],
                                            special: all[:special],
                                            number: all[:numbers],
                                            yesno: all[:yesno], track: @track }
    = haml :'trackers/edit_form', locals: { title: 'Impact Achieved',
                                            columns: all[:impact_achieved],
                                            special: all[:special],
                                            number: all[:numbers],
                                            yesno: all[:yesno], track: @track }
    = haml :'trackers/edit_form', locals: { title: 'Impact Video',
                                            columns: all[:impact_video],
                                            special: all[:special],
                                            number: all[:numbers],
                                            yesno: all[:yesno], track: @track }
  = haml :'trackers/edit_form', locals: { title: 'Screening (for impact only)',
                                          columns: all[:screening], special: all[:special],
                                          number: all[:numbers],
                                          yesno: all[:yesno], track: @track }
  = haml :'trackers/edit_form', locals: { title: 'Payment',
                                          columns: all[:payment],
                                          special: all[:special], number: [],
                                          yesno: [], track: @track }
  = haml :'trackers/edit_form', locals: { title: 'Ratings',
                                          columns: all[:ratings], special: [],
                                          number: [], yesno: [], track: @track }

  %button.btn.btn-default.btn-block.button-space{ type: 'submit' } Submit
