-# Defautls are visible on load wihle all other columns are hidden.
- arr = global_arr_set.push('state', 'district', 'mentor').sort
- defaults = ['cc_name', 'state', 'iu_theme',
              'description', 'footage_rating', 'final_video_rating',
              'instructions_for_editor_edit', 'instructions_for_editor_final']
- arr -= defaults

-# x=1 to take into account displaying the UID seperately and so that the
-# checkboxes show/hide the right column.
- x = 1
- count = defaults.length + x
- final_count = count + arr.length

%h1= @title

%p #{ @edit.count + @finalize.count } trackers found.

.checks
  %p
    %span.glyphicon.glyphicon-th-list
    Change Columns
  %ul.hide-list
    %li
      %input.0{ type: 'checkbox', checked: true } UID
    = results_check(defaults, x, true)
    = results_check(arr, count)

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col0 UID
        = results_head(defaults, x)
        = results_head(arr, count)
    %tbody
      - @edit.each do |t|
        %tr
          %td.col0
            %a{ href: "/show/#{ t.uid }" }
              =h t.uid
          = results_body(defaults, x, t)
          = results_body(arr, count, t)
      - @finalize.each do |t|
        %tr
          %td.col0
            %a{ href: "/show/#{ t.uid }" }
              =h t.uid
          = results_body(defaults, x, t)
          = results_body(arr, count, t)
