- all = array_set

%h1 New Story

%h3= "State: #{ @state.state }, #{ @state.state_abb }"

%form.form-horizontal{ action: "/new/#{ @state.state }", method: 'post' }
  = haml :'trackers/new_form', locals: { title: 'Story', columns: all[:story],
                                        special: all[:special], number: [], yesno: [] }

  %button.btn.btn-default.btn-block{ type: 'submit' } Submit
