- all = array_set
- all[:story].unshift('state', 'cc_name', 'district', 'mentor')

- if @track.uid.include? '_impact'
  - all[:extra].delete('impact_uid')
  - unless @track.original_uid.blank? then all[:extra].delete('no_original_uid') end
- else
  - all[:extra].delete('original_uid')
  - all[:extra].delete('no_original_uid')



%h1 #{ @track.uid.split('_').join(' ') } by #{ @track.cc_name } - #{ @track.iu_theme }
- unless @track.impact_uid.blank? || @track.uid.include?('_impact')
  %h2.sub-header
    This video had an impact! See
    %a{ href: "/show/#{ @track.impact_uid }" }
      #{ @track.impact_uid }
%h3.description-display #{ @track.description }

- if !session[:user].nil?
  %a.btn.btn-default.button-space{ href: "/edit/#{ @track.uid }", role: 'button' } Edit
  %a.btn.btn-default.button-space{ href: "/note/#{ @track.uid }", role: 'button' } Add Note
  - if @track.flag.nil?
    %a.btn.btn-default.button-space{ href: "/flag/#{ @track.uid }", role: 'button' } Flag
  - else
    %a.btn.btn-default.button-space{ href: "/unflag/#{ @track.uid }", role: 'button' } Unflag

-# Each line renders a table with a title, and then populates the cells with
-# the tracker information for the selected tracker.
= haml :'trackers/show_table', locals: { title: 'Story', track: @track,
                                         column: all[:story] }
= haml :'trackers/show_table', locals: { title: 'Status', track: @track,
                                         column: all[:status] }
= haml :'trackers/show_table', locals: { title: 'Raw Footage Review', track: @track,
                                         column: all[:review] }
= haml :'trackers/show_table', locals: { title: 'Edit',
                                         track: @track, column: all[:footage_edit] }
= haml :'trackers/show_table', locals: { title: 'Final Review',
                                         track: @track, column: all[:footage_review] }
- unless !@track.original_uid.blank? && @track.uid.include?('_impact')
  = haml :'trackers/show_table', locals: { title: 'Impact Planning', track: @track,
                                         column: all[:impact_planning] }
  = haml :'trackers/show_table', locals: { title: 'Impact Achieved', track: @track,
                                         column: all[:impact_achieved] }
  = haml :'trackers/show_table', locals: { title: 'Impact Video', track: @track,
                                         column: all[:impact_video] }
- else
  %h2 Impact
  %p
    See
    %a{ href: "/show/#{ @track.original_uid }"} #{ @track.original_uid }
    for impact information.
= haml :'trackers/show_table', locals: { title: 'Screening (for impact only)', track: @track,
                                         column: all[:screening] }
= haml :'trackers/show_table', locals: { title: 'Payment', track: @track,
                                         column: all[:payment] }
= haml :'trackers/show_table', locals: { title: 'Rating', track: @track,
                                         column: all[:ratings] }
= haml :'trackers/show_table', locals: { title: 'Extra', track: @track,
                                         column: all[:extra] }

- if !session[:user].nil? && current_user[:access] == 'admin'
  %a.btn.btn-default.button-space{ href: "/delete/#{ @track.uid }", role: 'button' } Delete
