- all = state_array_set

%h1 #{ @state.state }

%form.form-horizontal{ action: "/state/edit/#{ @state.id }", method: 'post' }
  - all.each do |x|
    .form-group
      %label.col-sm-3.control-label #{ name_modifier(x) }:
      .col-sm-9
        %input.form-control{ type: 'text', name: "#{ x }", value: "#{ @state.send(:"#{x}") }" }

  %button.btn.btn-default.btn-block{ type: 'submit' } Submit
